<!doctype html>
<html lang="en">
<head>
	<title>Search Movies</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
	<link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div>
		<div class="top_container">
			<%= yield %>
		</div>
	</div>

</body>
</html>